{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}   {# for translation #}
{% load tz %}     {# for timezones #}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <!-- next form is for displaying timezone options -->
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}

        <label for="timezone">Time zone:</label>

        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Set">
    </form>

    <!-- show time based on choseed timezone -->
    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- show time in selected timezone  -->

    <br>
    <hr>

    <h1>{% trans "Все посты" %}</h1>
     <h3> {% trans "Количество постов на странице" %}: {{ posts|length }} </h3>
    <hr>

    {% if posts %}
        <table class="table">
            <tr>
                <td>{% trans "Новость/Статья" %}</td>
                <td>{% trans "Заголовок" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Предпросмотр" %}</td>
            </tr>

            {% for post in posts %}
                <tr style="height:50px">
                    {% if post.type == 'N' %}
                        <td>{% trans "Новость" %}</td>
                    {% elif post.type == 'A' %}
                        <td>{% trans "Статья" %}</td>
                    {% endif %}

                <td><a href='{{ post.pk }}'>{{ post.title|censor }}</a></td>
                <td>{{ post.time_in|date:'d M Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>{% trans "Пока никаких новостей" %}</h2>
    {% endif %}

    {# Add pagination #}

    {# Info of previous pages #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Info of current page #}
    {{ page_obj.number }}

    {# Info of next pages #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

<hr>
{% endblock content %}