{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% load tz %}

{% block title %}
Posts search
{% endblock title %}

{% block content %}

    <h1>{% trans "Поиск постов" %}</h1>
    <h3> {% trans "Количество постов на странице" %}: {{ posts_search|length }} </h3>
    <br>

    {# Add form that has field that will be send in query #}
    <form action="" method="get" align="center">

        {% trans "Автор" %}: {{ filterset.form.author }}
        <br>
        <br>

        {% trans "Искать только" %}: {{ filterset.form.type }}
        <br>
        <br>

        {% trans "Название содержит" %}: {{ filterset.form.title__icontains }}
        <br>
        <br>

        <!-- Хотим вот так, но чтобы без полос прокрутки. Тогда квадратики в категориях будут ровно друг под другом-->
        <!-- <div style="text-align:left; position:relative; right:-620px"> -->
        <div>
            {{ filterset.form.category.label }}: {{ filterset.form.category }}
        </div>
        <br>

        {{ filterset.form.time_in__gt.label }}: {{ filterset.form.time_in__gt }}

        <br>
        <br>

        {# Button to apply filter center-aligned and button to subscribe to category right-alighned on one row #}
        <div class="row">
            <div class="col-7" align="right">
                <input type="submit" value="Найти" />
                &emsp;&emsp;&emsp;&emsp;
            </div>

            <div class="col" align="right">

                <!-- Subscribe button only if one category chosen-->
                {% if request.GET|get_attribute:'category'|length == 1 %}

                <!-- basicly this if-operator is for determining whether user is subscribed or not to a category he chose-->
                    {% if request.GET|get_attribute:'category'|get_attr_model:'category' not in request.user.category_set.all %}
                        <button>
                            <a href="{{ request.GET.category }}/subscribe/?type={{ request.GET.type }}&title__icontains={{ request.GET.title__icontains }}&category={{ request.GET.category }}&time_in__gt={{ request.GET.time_in__gt }}">
                                {% trans "Подписаться на категорию" %}
                                "{{ request.GET|get_attribute:'category'|get_attr_model:'category' }}"
                            </a>
                        </button>

                    {% else %}
                        <button>
                            <a href="{{ request.GET.category }}/unsubscribe/?type={{ request.GET.type }}&title__icontains={{ request.GET.title__icontains }}&category={{ request.GET.category }}&time_in__gt={{ request.GET.time_in__gt }}">
                                {% trans "Отписаться от категории" %}
                                "{{ request.GET|get_attribute:'category'|get_attr_model:'category' }}"
                            </a>
                        </button>
                    {% endif %}

                {% endif %}
            </div>

        </div>
    </form>

    <hr>
    {% if posts_search %}

        <table class="table">
            <tr>
                <td>{% trans "Новость/Статья" %}</td>
                <td>{% trans "Категории" %}</td>
                <td>{% trans "Заголовок" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Предпросмотр" %}</td>
            </tr>

            {% for post in posts_search %}
                <tr style="height:50px">
                    {% if post.type == 'N' %}
                        <td>{% trans "Новость" %}</td>
                    {% elif post.type == 'A' %}
                        <td>{% trans "Статья" %}</td>
                    {% endif %}

                <td>
                {% for category in post.categories.all %}
                {{ category.name }}
                    {% if forloop.counter != post.categories.all|length %}
                        ,
                        {% if not forloop.counter0|divisibleby:2 %}
                            <br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </td>

                {# go to news or articles/post_pk #}
                <td><a href='../{{ post.pk }}'>{{ post.title|censor }}</a></td>
                <td>{{ post.time_in|date:'d M Y' }}</td>
                <td>{{ post.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>{% trans "Пока никаких новостей" %}</h2>
    {% endif %}

    {# Add pagination #}

    {# Info of previous pages #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Info of current page #}
    {{ page_obj.number }}

    {# Info of next pages #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

<hr>
{% endblock content %}