<!--  Inherit from default.html -->
{% extends 'flatpages/default.html' %}

{% block title %}
Post
{% endblock title %}

{% load custom_filters %}

<!-- Output a post that was sent to url -->
{% block content %}
    <h1>{{ post.title|censor }}</h1>
    <h4>Опубликован: {{ post.time_in|date:'d M Y' }}</h4>

    <h5>Категории:
    {% for category in post.categories.all %}

        {% if forloop.counter != post.categories.all|length %}
            {{ category }},
        {% else %}
            {{ category }}
        {% endif %}

    {% endfor %}
    </h5>

    <h5>Автор: {{ post.author }}</h5>

    <style>
    .text-justify {
     text-align: justify; /* text-align by page width */
    }
    </style>
    <div class="text-justify", style="white-space: pre-line">
        {{ post.text|censor }}
    </div>
<hr>

{% if post.type == 'N' %}
<div>
    <a href="/news/{{ post.pk }}/update/">Редактировать</a>
    &emsp;&emsp;&emsp;&emsp;
    <a href="/news/{{ post.pk }}/delete/">Удалить</a>
</div>
{% elif post.type == 'A' %}
<div>
    <a href="/articles/{{ post.pk }}/update/">Редактировать</a>
    &emsp;&emsp;&emsp;&emsp;
    <a href="/articles/{{ post.pk }}/delete/">Удалить</a>
</div>
{% endif %}

<hr>
{% endblock content %}
