{% extends 'flatpages/default.html' %}

{% block content %}
{% load i18n %}

{% if 'news' in request.path %}
<h1>{% trans "Параметры новости" %}</h1>
{% elif 'articles' in request.path %}
<h1>{% trans "Параметры статьи" %}</h1>
{% endif %}
<hr>

<form action="" method="post">
    {% csrf_token %}

    <!-- (пока выбираем из тех, что есть, затем будет автоматом выбираться от заполняющего зарегистрированного пользователя)
    <br>
    Автор:
    <br>
    {{ form.author }}
    <br><br> -->

    {% trans "Заголовок" %}:
    <br>
    {{ form.title }}
    <br><br>

    {% trans "Текст" %}:
    <br>
    {{ form.text }}
    <br><br>

    {% trans "Категории" %}:
    <br>
    {{ form.categories}}
    <br>

    <input type="submit" value="Save" />

    <hr>
</form>
{% endblock content %}
