<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock title %}</title>

        {% load static %}
        {% load custom_tags %}
        {% load i18n %}   {# for translation #}
        {% load tz %}     {# for timezones #}

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">NewsPaper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/news">{% trans "На главную" %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="/news/search">{% trans "Поиск" %}</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans "Еще" %}</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/news/create">{% trans "Создать новость" %}</a></li>
                                <li><a class="dropdown-item" href="/articles/create">{% trans "Создать статью" %}</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="/">{% trans "Личный кабинет" %}</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
                                <input type="hidden" name="next" value="{{ redirect_to }}">

                                <select name="language" id="">
                                    {% get_available_languages as LANGUAGES %} <!-- get languages -->
                                    {% get_language_info_list for LANGUAGES as languages %} <!-- put them into languages -->

                                    {% for language in languages %} <!-- show list of languages with code -->
                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                            {{ language.name_local }} - {{ language.code }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="set">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        {% current_time %}  #
        <style>
            body {background-color: {% if current_time|date:'G'|add:'0' >= 19 or current_time|date:'G'|add:'0' <= 7 %} powderblue {% else %} white {% endif %};}
        </style>

        <div class="container">
            <div class="text-center mt-5">
                {% block body %}
                {% block content %}
                {% endblock content %}
                {% endblock body %}
                {% block extra_body %}
                {% endblock extra_body %}
            </div>
        </div>

        <br>
        <br>
        <div align="center">ⓒ{% trans "Права не защищены, все совпадения неслучайны" %})</div>
        <br>
        <br>

    </body>
</html>
